<html>
<head>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'>
</script>
</head>
<body>
<h1>Wifi Stoplight</h1>
<div class="container">
    <h2>Change Color</h2>
    <form method="post" action="green" enctype='text/plain'>
        <input type="submit" value="Turn on Green" >
    </form>
    <form method="post" action="yellow" enctype='text/plain'>
        <input type="submit" value="Turn on Yellow" >
    </form>

    <form method="post" action="red" enctype='text/plain'>
        <input type="submit" value="Turn on Red" >
    </form>

    <form method="post" action="cycle" enctype='text/plain'>
        <input type="submit" value="Turn on Cycle" >
    </form>


 </div>

</body>
</html>